<div id="page-wrapper" style="min-height: 535px;">
  <div ui-view="" class="ng-scope">
    <div class="container-fluid ng-scope">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Dashboard</h1>
        </div>
      </div>
      <div class="row">
        <p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>

        <h2 i18n>Features</h2>
        <p-calendar></p-calendar>
      </div>
    </div>
  </div>
</div>